.formData{
    background-color: #0a0a0a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}
.formInputs{
    background-color: white;
    color: black;
}
.formButton{
    background-color: #820d17;
    color: white;
    margin-top: 20px;
}
